In [1]:
import os, sys, glob
import fireducks.pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv("data/data.csv")
df2 = pd.read_csv("data/data_2.csv")
df3 = pd.read_csv("data/data_3.csv")

In [4]:
df1.shape[0], df2.shape[0], df3.shape[0]

(500, 500, 500)

In [10]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)
unique_combined_df = combined_df.drop_duplicates().reset_index(drop=True)
unique_combined_df

,anime_id,top_review
0,16498,At first I did not understand the hype surroun...
1,101922,I am gonna be totally honest here. I never tho...
2,1535,"Death Note, Death Note, Death Note. There was ..."
3,113415,If you read my Demon Slayer review for both an...
4,21459,TL;DR is located at the end of the review.\n\n...
...,...,...
1476,14807,This review is all subjective and my own perso...
1477,21018,"Ok, I really needed to get this out of my head..."
1478,16774,"Every so often, there comes an area where crim..."
1479,156040,I usually do not write reviews so bare with me...
1480,5940,"War is Hell. These words, famously spoken by U..."

In [11]:
unique_combined_df.to_csv("data/reviews_data.csv", index=False)